@font-face {
    font-family: 'MLR';
    src: url('MidnightLetters-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body {
	font-family: 'MLR';
	background: white;
	margin: 0px;
	div#upblock{
		background: url(f2.png);
		height: 250px;
		width: 100%;
	}
	div#reclam{
		float: right;
		margin: 10px;
		border: blue solid 2px;
	}
	div.map{
		margin: 15px;
		background: url(map.png);
		height: 469px;
		width: 489px;
		border: black solid 5px;
	}
	div#instart{
		margin: 10px;
	}
	td#og{
		padding-top: 217px;
		padding-bottom: 0px;
		padding-left: 121px;
	}
	td#sm{
		padding-top: 26px;
		padding-bottom: 0px;
		padding-left: 144px;
	}
	td#gg{
		padding-top: 23px;
		padding-left: 50px;
		padding-bottom: 0px;
	}
	table.news{
		background: rgb(157, 193, 230);
		text-align: center;
		margin: 10px;
	}
	div.n1{
		border: blue solid 2px;
		padding: 10px;
		margin: 10px;
	}
	td.newsbord{
		border: darkblue solid 2px;
		padding: 10px;
	}
	td.downmenu{
		padding: 10px;
	}
	img.nfoto{
                height:100px;
	}
}
