@font-face {
    font-family: 'MLR';
    src: url('MidnightLetters-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
body {
	font-family: 'MLR';
	background: white;
	margin: 0px;
	div#upblock{
		background: url(f2.png);
		height: 250px;
		width: 100%;
	}
	div.map{
		margin: 15px;
		background: url(map.png);
		height: 469px;
		width: 489px;
		border: black solid 5px;
	}
	
}
